/* Navbar */
a{
    text-decoration: none;
    display: inline;
    list-style: none;
    float: right;
    border: solid 2px rgb(255, 189, 189);
    background-image: url(foto_rahma.jpg);
    font-size: 20px;
    margin: 30px 70px;
    padding: 3px 20px;
    color: rgb(255, 206, 214);
}
.Navbar {
    width: 100%;
    background-image: url(background/gradient.jpg);
    background-color: black;
    margin:0px;
    padding: 0;
}
.Navbar-menu{
    padding: 20px 30px 20px 40px;
    margin: 0;
}
.menu {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.616);
    border: solid 2px rgb(172, 166, 153);
    text-align: center;
    margin: auto;
}
body {
    background-image: url(template_rahma.jpg);
    padding: 0;
    margin: 0;
}

/* Profile */
.foto{
    border: solid 2px rgb(168, 159, 159)
    margin: 30px 150px;
    padding: 15px 30px 15px 70px;
}
.main-profile{
    background-color: rgba(238, 236, 236, 0.432);
}
.profil{
    float: right;
    background-color: rgb(241, 212, 217);
    margin: 0px 20px ;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* Educatation */
.Menu-pendidikan{
    border: solid 2px rgb(168, 159, 159)
    width: 80%;
    margin: auto;
    text-align: center;
}
.riwayat-pendidikan{
    border: solid 2px rgb(241, 212, 217);
    background-color: rgb(241, 212, 217);
    margin-bottom: 50px;
    margin: auto;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 30%;
    text-align: center;
    
}
/* Hobby */
.hobiku{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.hobi{
    border: solid 2px rgb(189, 183, 170);
    background-color: rgb(241, 212, 217);
    margin: auto;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 30%;
    text-align: center;

}

}
.footer{
    width: 100%;
    background-color: rgb(255, 208, 223);
    margin-top: 200px;
}
.rahma{
    font-size: 13px;
    color: rgb(235, 193, 186);

}
button{
    cursor: pointer;
    color: rgb(168, 159, 159);
    background: rgb(255, 179, 186);
    width: 200px;
    height: 100px;
    border-radius: 5px;
    border: rgb(168, 159, 159)
    padding: 10px;
    font-size: 20px;
}
.button:hover{
    background: rgb(255, 188, 188);





